
    /* Colors */
    $primaryback: #ffffff;
    $secondaryback: #292929;
    $alternative: #464646;
    $buttons: #03616D;
    $text-title: #6A6A6A;

    /* Spacings */
    $spacing-large: 6rem;
    $spacing-medium: 2.4rem;
    $spacing-small: 2rem;
    $spacing-xsmall: 1rem;

    /* Font-family */
    $font-principal: 'Barlow', sans-serif;
    $font-title: 'Roboto Slab', serif;

    /* Font-Sizes */
    $text-large: 5.2em;
    $text-minlarge: 3.5em;
    $text-medium: 2.2em;
    $text-base: 1.6em;
    $text-small: 1.4em;
    $text-xsmall: 1em;
    

