.backgruond__stily {
    background-color: #464646;
}

.logo__img {
    width: 80px;
    height: 50px;
    margin-left: 10px;
}


.nav__tittle ul li a {
    margin: 11px;
    color: #ffffff;
}

.nav__hover {
    align-items: flex-end;
}

.nav-item {
    font-size: $text-base;
}
