/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Roboto+Slab:wght@300;500&display=swap');

/* Normalize */

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "variables";

html {
    font-size: 62.5%;
}

/* barra de navegacion + logo*/
@import "navbar";
/* Comienzo main*/
/* banner */
@import "banners";

/* bloques de informacion */
@import "bloques";
/* Titulos y botones */
@import "textosybotones";
/* Grids */
@import "grids";
/* imagenes */
@import "imagenes";
/* planespremium */
@import "premiumplanes";
/* formulario */
@import "formulario";

/* FIN DEL MAIN */

/* FOOTER */
@import "footer";
/* FIN DEL FOOTER */

/* Media */
@import "media";
